* {
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Monaco", "Lucida Console", monospace;
    font-size: 18px;
    text-align: center;
    background-color: blanchedalmond;
}

body.rezept {
    text-align: left;
}

button {
    background-color: lightblue;
    font-size: 20px;
    padding: 5px;
}

img {
    height: auto;
    width: 350px;
}

ul {
    padding-left: 50px;
}

ol {
    padding-left: 50px;
}